

<div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table-hover table-inverse">
  <body>
    <tr>
      <th><%=image_tag @users.get_profile_image %></th>
      <th><%= @users.name %></th>
      <th colspan="3"></th>

    </tr>
  </body>

</table>
    </div>